<center><h1>Merchants<h1><br><center>

<center>
  <% @merchants.each_with_index do |merchant, index| %>
  <div id="merchants<%= index %>">
    <%= link_to "#{merchant.name}", merchant_path(merchant.id), method: :get %>
  </div>
  <% end %>